@import url(http://fonts.googleapis.com/css?family=Lato:400,300,900,100,700);

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

img {
    max-width: 100%;
}

header .navbar-brand {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 16px;
	color: white;
}

header .navbar-inverse .navbar-brand {
    color: #ddd;
}

header .navbar-inverse {
	border: 0px;
	background: #1f4150;
}

header .navbar-inverse .navbar-nav>li>a.btn {
    margin-top: 4px;
}
header .navbar-inverse .navbar-nav>li>a.btn:hover {
    background: #286090;
}

header .nav>li {display: inline-block;}
header .navbar-nav {margin: 0;}

header .navbar.hidden-lg {
    margin: 55px 30px 0;
}

#headerwrap {
    /* 	background: url(../img/hero.jpg) no-repeat center top; */
    background: url(../img/audit-content.jpg) no-repeat center top;
	padding-top: 180px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	font-weight: 400;
	font-size: 70px;
}

#headerwrap h2 {
	color: #f8f8f8;
	font-size: 22px;
	font-weight: 300;
}

.btn {
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-transform: uppercase;
}

.btn-transparent {
	background-color: transparent;
	border: 1px solid white;
	color: white;
}

.btn-transparent:hover {
	background-color: white;
	border: 1px solid white;
	color: #010101;
}

.btn-cta {
    color: #fff!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
	font-weight: 400;
}

p {
	font-weight: 300;
	font-size: 18px;
}

.gwrap {
	background-color: #fbfcfe;
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 1px solid #eff0f2;
	border-bottom: 1px solid #eff0f2;
	width: 100%;
	text-align: center;
}

.gwrap h3 {
    text-align: center;
}
.gwrap img {
    margin: 50px auto 50px;;
}
.gwrap p {
    margin-bottom: 25px;
}

.testimonials {
    padding: 50px 0 30px;
}
.testimonials h2 {
    padding-bottom: 50px;
}
.testimonials .testimonial {
    padding-bottom: 50px;
}
.testimonials .testimonial img {
    border-radius: 50%;
    border: 1px solid #dedede;
}
#logoscred {
    text-align: center;
    position: relative;
}
#logoscred .logoslabelcontainer {
    position: absolute;
    top: -14px;
    left: 0;
    right: 0;
}
#logoscred .logoslabelcontainer .logoslabel {
    background: #fbf9f9;
    padding: 5px 8px;;
    border-radius: 5px;
    display: inline-block;
}
#logoscred .logoscontainer {
    background: #f3f1f1;
}
#logoscred .container {
    padding-top:30px;
    padding-bottom:30px;
}

.blackwrap {
	background-color: #272729;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	color: white;
}

.blackwrap h2 {
	color: white;
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.gwrap-cta {
    background: #1f4150;
    color: #fff;
}

@media (max-width: 550px) {
    #headerwrap h1 {
        font-size: 36px;
    }
}